numpy==1.26.2
ipykernel==6.26.0
matplotlib==3.8.1
pandas==2.1.3
statsmodels==0.14.0
altair==5.1.2
pmdarima==2.0.4
seaborn==0.13.0
xgboost==2.0.2
xlwings==0.30.12

# linting
pre-commit==3.3.3
black==22.10.0
black[jupyter]
isort==5.12.0
nbstripout==0.6.1
ruff==0.0.272
